.wrapper {
  padding-top: 80px;

  input.header {
    padding-left: 40px;
    margin-bottom: 42px;
    border: none;
    font-size: 41px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0;
    text-align: left;

    border-bottom: 1px solid black;

    &:focus {
      outline: none;
    }
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
  }

  .add-btn {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: center;
    background: none;
    border: none;
    margin-right: 20px;

    .svg {
      height: 22px;
      width: 22px;
      margin-right: 10px;
    }
  }

  .form-buttons {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
  }

  .btn {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 139px !important;
    height: 52px !important;
    border: none;
    border-radius: 3px;
    background-color: #ffe783;
    font-style: normal;
    font-weight: normal;
    line-height: 12px;
    font-size: 17px;
    color: #000000;

    &:active {
      background-color: #ecd678;
    }

    p {
      display: flex;
      align-content: center;
      justify-content: center;
      width: 100%;
      text-align: center;
      margin: auto;
      padding: 0;
    }
  }

  .btn + .btn {
    margin-left: 30px;
  }
}

.forms-list {
  display: flex;
  flex-direction: column;
}

.form-item {
  border: none;
  background-color: blanchedalmond;
  padding: 2px 6px;
  margin-top: 10px;
}
