<div class="wrapper">
  <input
    class="header"
    type="text"
    [(ngModel)]="testForm.title"
    placeholder="Название формы"
  />

  <div class="main-form">
    <ng-template #container></ng-template>

    <!--  Control buttons  -->
    <div class="row">
      <button class="add-btn" (click)="openModal(input)">
        <object
          data="assets/svg/plus.svg"
          type="image/svg+xml"
          class="svg"
        ></object>
        Добавить текстовое поле
      </button>
      <button class="add-btn" (click)="openModal(number)">
        <object
          data="assets/svg/plus.svg"
          type="image/svg+xml"
          class="svg"
        ></object>
        Добавить числовое поле
      </button>
      <button class="add-btn" (click)="openModal(select)">
        <object
          data="assets/svg/plus.svg"
          type="image/svg+xml"
          class="svg"
        ></object>
        Добавить поле с выбором
      </button>

      <button class="add-btn" (click)="openModal(checkbox)">
        <object
          data="assets/svg/plus.svg"
          type="image/svg+xml"
          class="svg"
        ></object>
        Добавить поле чекбоксов
      </button>
    </div>
  </div>

  <div class="form-buttons mt-5 ml-5">
    <button type="button" class="btn" (click)="saveForm()">
      <p>Сохранить</p>
    </button>
    <button type="button" class="btn" (click)="openModal(loadform)">
      <p>Загрузить</p>
    </button>
  </div>

  <!-- Modal windows -->
  <ng-template #loadform let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Загрузить форму</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="forms-list">
        <button
          class="form-item"
          *ngFor="let item of forms"
          (click)="loadForm(item)"
        >
          <strong>{{ item.title }}</strong>
        </button>
      </div>
    </div>
    <div class="modal-footer"></div>
  </ng-template>

  <ng-template #select let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Создать селект</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="label">Название поля</label>
          <input
            id="label"
            class="form-control"
            type="text"
            placeholder="Например, Семейное положение"
            name="label"
            [(ngModel)]="testField.label"
          />
        </div>
        <div class="form-group ml-4">
          <input
            class="form-check-input"
            type="checkbox"
            id="required"
            [(ngModel)]="testField.required"
            name="required"
          />
          <label for="required">Обязательное поле</label>
        </div>

        <div class="form-group">
          <label for="choices">Варианты выбора (через запятую)</label>
          <input
            type="text"
            id="choices"
            class="form-control"
            name="choices"
            [(ngModel)]="choicesText"
          />
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="addComponent(testSelect)"
      >
        Сохранить
      </button>
    </div>
  </ng-template>

  <ng-template #number let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Создать числовое поле</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="label">Название поля</label>
          <input
            id="label"
            class="form-control"
            type="text"
            placeholder="Например, Возраст"
            name="label"
            [(ngModel)]="testField.label"
          />
        </div>
        <div class="form-group ml-4">
          <input
            class="form-check-input"
            type="checkbox"
            id="required"
            [(ngModel)]="testField.required"
            name="required"
          />
          <label for="required">Обязательное поле</label>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="addComponent(testNumber)"
      >
        Сохранить
      </button>
    </div>
  </ng-template>

  <ng-template #input let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Создать текстовое поле</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="label">Название поля</label>
          <input
            id="label"
            class="form-control"
            type="text"
            placeholder="Например, ФИО"
            name="label"
            [(ngModel)]="testField.label"
          />
        </div>
        <div class="form-group ml-4">
          <input
            class="form-check-input"
            type="checkbox"
            id="required"
            [(ngModel)]="testField.required"
            name="required"
          />
          <label for="required">Обязательное поле</label>
        </div>
        <div class="form-group">
          <label for="description">Описание поля</label>
          <input
            id="label"
            class="form-control"
            type="text"
            placeholder="Текст под текстовым полем"
            name="description"
            [(ngModel)]="testField.description"
          />
        </div>
        <div class="form-group">
          <label for="placeholder">Название внутри поля</label>
          <input
            id="label"
            class="form-control"
            type="text"
            placeholder="Например, опишите ваши особенности"
            name="placeholder"
            [(ngModel)]="testField.placeholder"
          />
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="addComponent(testInput)"
      >
        Сохранить
      </button>
    </div>
  </ng-template>

  <ng-template #checkbox let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Создать чекбокс</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="label">Название поля</label>
          <input
            id="label"
            class="form-control"
            type="text"
            placeholder="Например, Навыки"
            name="label"
            [(ngModel)]="testField.label"
          />
        </div>
        <div class="form-group ml-4">
          <input
            class="form-check-input"
            type="checkbox"
            id="required"
            [(ngModel)]="testField.required"
            name="required"
          />
          <label for="required">Обязательное поле</label>
        </div>
        <div class="form-group ml-4">
          <input
            class="form-check-input"
            type="checkbox"
            id="check-all"
            name="check-all"
            [(ngModel)]="testField.isIncludeCheckAll"
          />
          <label for="check-all">Возможность отметить всё</label>
        </div>

        <div class="form-group">
          <label for="choices">Варианты выбора (через запятую)</label>
          <input
            type="text"
            id="choices"
            class="form-control"
            name="choices"
            [(ngModel)]="choicesText"
          />
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="addComponent(testCheckbox)"
      >
        Сохранить
      </button>
    </div>
  </ng-template>
</div>
