<div class="input">
  <div class="label">
    <label *ngIf="label">
      {{ label }}
      <span class="required" *ngIf="required">*</span>
    </label>
  </div>

  <div class="col">
    <input type="text" [placeholder]="placeholder" />
    <small *ngIf="description" class="description">{{ description }}</small>
  </div>

  <!-- Control panel -->
  <div class="btn-group" role="group" aria-label="Configures">
    <button (click)="moveUp()" type="button" class="btn btn-secondary">
      <i class="fas fa-chevron-up"></i>
    </button>
    <button (click)="moveDown()" type="button" class="btn btn-secondary">
      <i class="fas fa-chevron-down"></i>
    </button>
    <button (click)="remove()" type="button" class="btn btn-secondary">
      <i class="fas fa-minus"></i>
    </button>
  </div>
</div>
