<div class="input">
  <div class="col">
    <div class="label">
      <label>{{ label }}<span class="required" *ngIf="required">*</span></label>
    </div>

    <div ngbDropdown class="select">
      <button class="select" id="dropdown" ngbDropdownToggle>
        <p>{{ selectedItem.title }}</p>
        <div class="arrow"></div>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdown">
        <button
          ngbDropdownItem
          *ngFor="let item of choices"
          (click)="selectItem(item.id)"
          [ngClass]="{ active: selectedItem.id === item.id }"
        >
          {{ item.title }}
        </button>
      </div>
    </div>
  </div>

  <!-- Control panel -->
  <div class="btn-group" role="group" aria-label="Configures">
    <button (click)="moveUp()" type="button" class="btn btn-secondary">
      <i class="fas fa-chevron-up"></i>
    </button>
    <button (click)="moveDown()" type="button" class="btn btn-secondary">
      <i class="fas fa-chevron-down"></i>
    </button>
    <button (click)="remove()" type="button" class="btn btn-secondary">
      <i class="fas fa-minus"></i>
    </button>
  </div>
</div>
