<div class="number">
  <div class="col">
    <div class="label">
      <label *ngIf="label">
        {{ label }}
        <span class="required" *ngIf="required">*</span>
      </label>
    </div>

    <input type="number" [(ngModel)]="counterValue" />
    <div class="counter-group">
      <button type="button" class="counter counter-up" (click)="counterUp()">
        <span class="trngl-up"></span>
      </button>
      <button
        type="button"
        class="counter counter-down"
        (click)="counterDown()"
      >
        <span class="trngl-down"></span>
      </button>
    </div>
  </div>

  <!-- Control panel -->
  <div class="btn-group" role="group" aria-label="Configures">
    <button (click)="moveUp()" type="button" class="btn btn-secondary">
      <i class="fas fa-chevron-up"></i>
    </button>
    <button (click)="moveDown()" type="button" class="btn btn-secondary">
      <i class="fas fa-chevron-down"></i>
    </button>
    <button (click)="remove()" type="button" class="btn btn-secondary">
      <i class="fas fa-minus"></i>
    </button>
  </div>
</div>
