<div class="checkbox-wrapper">
  <div class="col">
    <div class="label">
      <label *ngIf="label">
        {{ label }}
        <span class="required" *ngIf="required">*</span>
      </label>
    </div>

    <div class="checkboxes">
      <div class="checkbox" *ngFor="let checkbox of choices">
        <input type="checkbox" [checked]="checkbox.active" />
        <label>{{ checkbox.title }}</label>
      </div>

      <div class="checkbox" *ngIf="isIncludeCheckAll">
        <input type="checkbox" (click)="checkAll()" />
        <label><strong>Выделить все</strong></label>
      </div>
    </div>

    <!-- Control panel -->
    <div class="btn-group" role="group" aria-label="Configures">
      <button (click)="moveUp()" type="button" class="btn btn-secondary">
        <i class="fas fa-chevron-up"></i>
      </button>
      <button (click)="moveDown()" type="button" class="btn btn-secondary">
        <i class="fas fa-chevron-down"></i>
      </button>
      <button (click)="remove()" type="button" class="btn btn-secondary">
        <i class="fas fa-minus"></i>
      </button>
    </div>
  </div>
</div>
